# Tipos de datos

In [1]:
# String
s = "Un string tiene palabras"

# int
i = 25

# float
fl = 34.6

#boolean 
x = True

In [2]:
print(i)

25

In [3]:
print(s)

Un string tiene palabras

In [7]:
nombre = input("Introduce un nombre: \n \n")

Introduce un nombre:

Eva

In [8]:
print(nombre)

Eva

In [20]:
edad = input("Introduce tu edad: ")
edad_int = int(edad) #Convierte a numero entero

Introduce tu edad: 22

In [10]:
type(edad)

str

In [11]:
type(edad_int)

int

In [12]:
#edad = int(input("Introduce tu edad: "))

Introduce tu edad: 22

In [13]:
print("Hola")

Hola

In [14]:
print("Hola", nombre)

Hola Eva

In [16]:
print("Hola", nombre, "tienes", edad_int, "años") #CONCATENAR

Hola Eva tienes 22 años

In [31]:
x = "15"
y = float(x)

In [32]:
type(x)

str

In [33]:
type(y)

float

In [34]:
print(y)

15.0

In [37]:
num1 = input("Intro un numero: ")
num2 = input("Intro otro numero: ")
print(num1+num2)

Intro un numero: 2
Intro otro numero: 3
23

In [38]:
num1 = int(input("Intro un numero: "))
num2 = int(input("Intro otro numero: "))
print(num1+num2)

Intro un numero: 2
Intro otro numero: 3
5

In [39]:
# Pasar de grados celsius a grados farenheit 
# PASO 1: pedir un numero por pantalla y convertirlo en float  
# ... --> llamar la variable celsius

#celsius = #...

# PASO 2: convertirlo usando la formula 
#fahrenheit = (celsius * 9/5) + 32

# PASO 3: hacer print en bonito; La temperatura en celsius es XXX y 
# en farenheit es XX

#print(...)

# celsius = (farenheit - 32) / (9/5)

In [40]:
celsius_string = input("Introduce la temperatura en grados Celsius: ")
celsius = float(celsius_string)

# Fórmula de conversión
fahrenheit = (celsius * 9/5) + 32

print(celsius, "grados Celsius son", fahrenheit, "grados Fahrenheit.")

Introduce la temperatura en grados Celsius: 34
34.0 grados Celsius son 93.2 grados Fahrenheit.

# CONDICIONALES IF, ELIF, ELSE

In [43]:
#if --> si...
#else --> sino ...
#else if --> elif --> sino, si.... 

x = 30
if x <= 20: 
    print("Es menor que 20")
else: 
    print("Es mayor que 20")

Es mayor que 20

In [47]:
x = 50
if x <= 20: 
    print("Es mayor que 0 y menor que 20")
elif (x>20) and (x<=40): 
    print("Es mayor que 20 y menor que 40")
elif (x>40) and (x<=60): 
    print("Es mayor que 40 y menor que 60")
else: 
    print("Es mayor que 60")

Es mayor que 40 y menor que 60

In [45]:
x = 30
if x <= 20: 
    print("Es mayor que 0 y menor que 20")
elif (x>20) and (x<=40): 
    print("Es mayor que 20 y menor que 40")
elif (x>40) and (x<=60): 
    print("Es mayor que 40 y menor que 60")

Es mayor que 20 y menor que 40

In [ ]:
# Ejercicio Ejemplo 

#Pedir edad por teclado --> convertirla a int 

# Con if, elif, else 
# si edad menor que 12 --> va a primaria 
# si edad es entre 12 y 16 --> va a la eso 
# si edad es entre 16 y 18 --> va a bachillerato 
# si edad es mayor que 18 --> va a la uni

#  Librerías

In [52]:
import math
import numpy as np
import matplotlib.pyplot as plt
import random

In [50]:
num = 45
num_rad = math.radians(num)
num_cos = math.cos(num_rad)
print('el coseno de', num, 'es', num_cos)

el coseno de 45 es 0.7071067811865476

In [51]:
num = 144
raiz = math.sqrt(num)
print('la raíz de', num, 'es', raiz)

la raíz de 144 es 12.0

# Funciones

In [73]:
def saludar(nombre):
    saludo = 'Hola '+ nombre
    return saludo

In [74]:
saludoRecibido = saludar('Eva')

In [75]:
print(saludoRecibido)

Hola Eva

In [78]:
def saludarEdad(nombre, edad):
    saludo = 'Hola '+ nombre + ' tienes ' + str(edad) + ' años'
    return  'Hola '+ nombre + ' tienes ' + str(edad) + ' años'

In [79]:
saludarEdad('Eva', 22)

'Hola Eva tienes 22 años'

In [ ]:
def saludarSolo(): 
    saludo = "Hola"
    return saludo

In [86]:
def calcularSuma(num1, num2):
    suma = num1+num2 
    return suma

In [91]:
resultadoSuma = calcularSuma(3,8)

In [92]:
if resultadoSuma > 10: 
    print("Correcto")

Correcto

# Calculadora

In [94]:
def calcularSuma(num1, num2):
    suma = num1+num2 
    return suma

def calcularResta(num1, num2): 
    resta = num1-num2 
    return resta
   
def calcularMultiplicacion(num1, num2): 
    mult = num1*num2 
    return mult

def calcularDivision(num1, num2): 
    divi = num1*num2 
    return divi

def calcularCos(num_grados): 
    num_rad = math.radians(num_grados)
    num_cos = math.cos(num_rad)
    return num_cos

def calcularSin(num_grados):
    num_rad = math.radians(num_grados)
    num_sin = math.sin(num_rad)
    return num_sin
    
def calcularTan(num_grados):
    num_rad = math.radians(num_grados)
    num_tan = math.tan(num_rad)
    return num_tan

def calcularRaiz(num):
    raiz = math.sqrt(num)
    return raiz

def menu():
    print("MENU CALCULADORA")
    print("------------------------")
    print("1. Sumar")
    print("2. Restar")
    print("3. Multiplicar")
    print("4. Dividir")
    print("5. Coseno")
    print("6. Seno")
    print("7. Tangente")
    print("8. Raiz cuadrada ")
    print("9. Salir")

In [95]:
menu()

MENU CALCULADORA
------------------------
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Coseno
6. Seno
7. Tangente
8. Raiz cuadrada
9. Salir

In [ ]:
fin = False
while fin == False: 
    menu()
    opcion = int(input('Elige una opción: '))
    if opcion <=4: 
        num1 = int(input('Introduce el 1º número: '))
        num2 = int(input('Introduce el 2º número: '))
        if opcion == 1:
            resultado_suma = calcularSuma(num1, num2)
            print("Operación:", num1, "+", num2, "=", resultado_suma)
        elif opcion == 2: 
            resultado_resta = calcularResta(num1, num2)
            print("Operación:", num1, "-", num2, "=", resultado_resta)
        elif opcion == 3:   
            resultado_mult = calcularMultiplicacion(num1, num2)
            print("Operación:", num1, "*", num2, "=", resultado_mult)
        elif opcion == 4:  
            resultado_divi = calcularDivision(num1, num2)
            print("Operación:", num1, "/", num2, "=", resultado_divi)
            
    elif opcion>4 and opcion <=8: 
        num = int(input('Introduce un número: '))
        if opcion == 5:  
            resultado_cos = calcularCos(num)
            print("El coseno de ", num, "es", resultado_cos)
        elif opcion == 6:  
            resultado_sin = calcularSin(num)
            print("El seno de ", num, "es", resultado_sin)
        elif opcion == 7:
            resultado_tan = calcularTan(num)
            print("La tangente de ", num, "es", resultado_tan)
        elif opcion == 8:  
            resultado_raiz = calcularRaiz(num)
            print("La raiz de ", num, "es", resultado_raiz)
            
    elif opcion == 9:  
        fin = True

MENU CALCULADORA
------------------------
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Coseno
6. Seno
7. Tangente
8. Raiz cuadrada
9. Salir
Elige una opción: 1
Introduce el 1º número: 4
Introduce el 2º número: 5
Operación: 4 + 5 = 9
MENU CALCULADORA
------------------------
1. Sumar
2. Restar
3. Multiplicar
4. Dividir
5. Coseno
6. Seno
7. Tangente
8. Raiz cuadrada
9. Salir