# While

In [2]:
x = 1

while x<=10: 
    print(x) 
    x = x + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
fin = False 

while fin == False: 
    num1 = int(input("Numero 1: "))
    num2 = int(input("Numero 2: "))
    suma = num1 + num2
    print("\n")
    if suma == 5: 
        fin=True

Numero 1: 3
Numero 2: 4


Numero 1: 2
Numero 2: 4


Numero 1: 6
Numero 2: 6


Numero 1: 1
Numero 2: 4

In [ ]:
# Ejercicio contraseña 

contra_secreta = "evapaula123"

# Listas

In [5]:
x = ['pan', 'huevos', 'tomates', 'lechuga']
y = ['pan', 23, 22.5, True, 'melón', ['espárragos', 'puerro']]

In [22]:
y[5].pop()

'puerro'

In [7]:
print(y)

['pan', 23, 22.5, True, 'melón', ['espárragos', 'puerro']]

# METODOS DE LISTAS

In [ ]:
# LAS LISTAS COMIENZAN EN LA POSICION 0

In [8]:
personas = ['Mario', 'Lucia', 'Paula', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro']

In [9]:
# Acceder a un elemento por índice 
print(personas[2])

Paula

In [13]:
print(personas[5])

Jose

In [15]:
# Longitud de la lista 
print(len(personas))

8

In [18]:
# Añadir elemento a la lista 
personas.append("Marcos")
print(personas)

['Mario', 'Lucia', 'Paula', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro', 'Marcos']

In [19]:
# Eliminar el ultimo elemento de la lista
personas.pop()
print(personas)

['Mario', 'Lucia', 'Paula', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro']

In [20]:
# Eliminar el elemento en la posicion 2
personas.pop(2)
print(personas)

['Mario', 'Lucia', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro']

In [21]:
# Eliminar por elemento (eliminar el elemento Lucia)
personas.remove("Lucia")
print(personas)

['Mario', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro']

In [23]:
#Insertar en una posicion determinada 
personas.insert(1, "Raul")
print(personas)

['Mario', 'Raul', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro']

In [24]:
# Sustituir el elemento de la posicion 1
personas[1] = "Jesus"
print(personas)

['Mario', 'Jesus', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro']

In [29]:
print(personas)

['Mario', 'Jesus', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro', 'Eva']

In [30]:
# Ver la posicoción de la vez que aparece un elemento
print(personas.index("Eva"))

2

In [31]:
# Eliminar toda la lista del tirón
personas.clear()
print(personas)

[]

In [32]:
listaCompra = ['melon', 'sandia', 'atun', 'filetes', 'yogures','huevos']

In [33]:
# Añadir los elementos sopa, arroz, queso 
# Eliminar el elemento queso (ultimo) 
# Eliminar el elemento filetes 
# Eliminar el elemento 3 
# Insertar el la posición 2 el elemento pan
# Sustituir el elemento melon por piña 
# Ver en que posicion se han quedado los yogures

In [34]:
# BUCLES FOR:

In [44]:
for i in range(0,10):
    print(i)

    
for i in range(10): 
    print(i)

  # los dos hacen lo mismo

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range(1,11): 
    print(i)

1
2
3
4
5
6
7
8
9
10

In [48]:
listaCompra = ['melon', 'sandia', 'atun', 'filetes', 'yogures','huevos']

In [53]:
for i in listaCompra: 
    print(i)
    
print('\n')
for i in range(len(listaCompra)):
    print(listaCompra[i])

melon
sandia
atun
filetes
yogures
huevos


melon
sandia
atun
filetes
yogures
huevos

In [51]:
print(range(1,11))

range(1, 11)

In [54]:
for elemento in listaCompra: 
    print("Elemento", elemento)

Elemento melon
Elemento sandia
Elemento atun
Elemento filetes
Elemento yogures
Elemento huevos

In [56]:
posiciones = []
personas  = ['Mario', 'Jesus', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro', 'Eva']

# [2, 7]

2

In [58]:
posiciones = []
personas  = ['Mario', 'Jesus', 'Eva', 'Enrique', 'Jose', 'Diego', 'Alvaro', 'Eva']

pos = -1
for persona in personas:
    pos += 1
    if persona == 'Eva':
        posiciones.append(pos)
        
print(posiciones)

[2, 7]

# Lista de la compra

In [ ]:
# Preguntar al cliente si quiere añadir alimento
# Si quiere, añadir alimento a lista de la compra
# Volver a preguntar
# ...
# No quiere añadir más --> Imprimir lista de la compra bonito
#Para imprimir la lista: recorrer con un bucle for y concatenar

In [ ]:
lista_compra = []
fin = False
while fin == False:
    anadir = input('Desea añadir un alimento a la lista? ')

Desea añadir un alimento a la lista?
Desea añadir un alimento a la lista?
Desea añadir un alimento a la lista?
Desea añadir un alimento a la lista?

In [1]:
edades = {"Eva": 22, "Paula": 20, "Gon": 10, "Sergio":16}

In [2]:
agenda = {'lunes':['correr', 'comprar'], 'martes':['leer', 'salir'],'miércoles':{'mañana':'campus', 'tarde':'pisci'}}

In [3]:
print(agenda)

{'lunes': ['correr', 'comprar'], 'martes': ['leer', 'salir'], 'miércoles': {'mañana': 'campus', 'tarde': 'pisci'}}

In [4]:
notas = {
          'gon': {'ev1': 10, 'ev2':9, 'ev3':9.75}, 
          'david' : {'ev1': 9.5, 'ev2':9, 'ev3': 10}, 
          'paula':{'ev1': 10, 'ev2': 9.9, 'ev3':10}
        }

In [5]:
print(notas)

{'gon': {'ev1': 10, 'ev2': 9, 'ev3': 9.75}, 'david': {'ev1': 9.5, 'ev2': 9, 'ev3': 10}, 'paula': {'ev1': 10, 'ev2': 9.9, 'ev3': 10}}

In [7]:
contactos = {
    1: {'nombre': 'paula', 'tlf': 666963488, 'direccion': 'calle aaa'},
    2: {'nombre': 'pedro', 'tlf': 687673525, 'direccion': 'calle bbb'},
    3: {'nombre': 'angel', 'tlf': 666466547, 'direccion': 'calle ccc'},
    4: {'nombre': 'patri', 'tlf': 624585237, 'direccion': 'calle ddd'}
            }

In [8]:
print(contactos)

{1: {'nombre': 'paula', 'tlf': 666963488, 'direccion': 'calle aaa'}, 2: {'nombre': 'pedro', 'tlf': 687673525, 'direccion': 'calle bbb'}, 3: {'nombre': 'angel', 'tlf': 666466547, 'direccion': 'calle ccc'}, 4: {'nombre': 'patri', 'tlf': 624585237, 'direccion': 'calle ddd'}}

In [16]:
edades = {"Eva": 22, "Paula": 20, "Gon": 10, "Sergio":16}

# Métodos de diccionarios

In [17]:
# Acceder a un valor dada una clave 
print(edades["Gon"])

10

In [18]:
# Otra forma 
print(edades.get("Gon"))

10

In [19]:
print(edades)

{'Eva': 22, 'Paula': 20, 'Gon': 10, 'Sergio': 16}

In [20]:
# Crear un nuevo par clave-valor 
edades['Pablo'] = 15

In [21]:
print(edades)

{'Eva': 22, 'Paula': 20, 'Gon': 10, 'Sergio': 16, 'Pablo': 15}

In [22]:
# Modificar valor dada una clave
edades['Sergio'] = 14
print(edades)

{'Eva': 22, 'Paula': 20, 'Gon': 10, 'Sergio': 14, 'Pablo': 15}

In [23]:
edades['Pablo'] = 19
print(edades)

{'Eva': 22, 'Paula': 20, 'Gon': 10, 'Sergio': 14, 'Pablo': 19}

In [24]:
# Eliminar elemento dada una clave
edades.pop("Sergio")
print(edades)

{'Eva': 22, 'Paula': 20, 'Gon': 10, 'Pablo': 19}

In [25]:
# Eliminar todo el diccionario 
edades.clear()

In [26]:
print(edades)

{}

In [27]:
edades = {"Eva": 22, "Paula": 20, "Gon": 10, "Sergio":16}

In [28]:
# Nos devuelve las keys 
print(edades.keys())

dict_keys(['Eva', 'Paula', 'Gon', 'Sergio'])

In [29]:
# Nos devuelve los values
print(edades.values())

dict_values([22, 20, 10, 16])

In [30]:
# Nos devuelve los items: los pares key-value
print(edades.items())

dict_items([('Eva', 22), ('Paula', 20), ('Gon', 10), ('Sergio', 16)])

In [31]:
 # Iteramos en las keys
for k in edades.keys(): 
    print(k)

Eva
Paula
Gon
Sergio

In [32]:
for v in edades.values(): 
    print(v)

22
20
10
16

In [34]:
for i, j in edades.items():
    print("Clave: ", i, " Value:", j)

Clave:  Eva  Value: 22
Clave:  Paula  Value: 20
Clave:  Gon  Value: 10
Clave:  Sergio  Value: 16